
<div>
      <footer >
        <h3>Instagram</h3>
        <hr>
        {{!-- <div>
            <img src="/public/images/pexels.jpeg" alt="">
            {{!-- <img src="/public/images/pexels.jpeg" alt="">
            <img src="/public/images/pexels.jpeg" alt="">
            <img src="/public/images/pexels.jpeg" alt="">
            <img src="/public/images/pexels.jpeg" alt="">
            <img src="/public/images/pexels.jpeg" alt="">
            <img src="/public/images/pexels.jpeg" alt="">
            <img src="/public/images/pexels.jpeg" alt="">
            <img src="/public/images/pexels.jpeg" alt=""> --}}

        </div> --}}
    </footer>
</div>
    
  