<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Header</title>
</head>
<body>

    
    <div class="head">
        <div ><img src="/images/logo_steren.png" alt="logoSteren" width="170px" height="50px" style="margin-right: 50px; margin-left:0%">
            
        </div>
        <div class="sesion">
          <a href="#">INICIA SESION | CREA UNA CUENTA</a>
        </div>
    </div>

    <hr>

  <ul id="text">
  <li class="dropdown"><a href="#home">EMPRESA</a>
  <div class="dropdown-content">
      <a href="#">Conoce Steren</a>
      <a href="#">La evolucion en la imagen</a>
      <a href="#">Steren sin fronteras</a>
      <a href="#">Fotos tiendas internacionales </a>
    </div>
  </li>
   <li class="dropdown"><a href="#home">MEDIOS</a>
  <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
   <li class="dropdown"><a href="#home">MATERIAL DE PRENSA</a>
  <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
   <li class="dropdown"><a href="#home">TIENDAS</a>
  <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li> 
  <li class="dropdown"><a href="#home">PARTNERS</a>
  <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
  <li class="dropdown">
    <input class="form-control custom" type="text" placeholder="BUSCAR" aria-label="Buscar" style="margin-left:170px">
  </li>

</ul>


  {{!-- <ul class="nav">
  <li class="nav-item dropdown">
    <a class="nav-link active" href="#">EMPRESA</a>
      <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">MEDIOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">MATERIALES DE PRENSA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">TIENDAS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">PARTNERS</a>
  </li>
  <li>
    <input class="form-control custom" type="text" placeholder="BUSCAR" aria-label="Buscar">
  </li>
  
</ul> --}}

</div>
<hr>


  

</body>
</html>