<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <title>Aperturas y Reinaguraciones</title>
</head>
<body>
    {{> header}}

    <h2>Steren en crecimiento constante</h2>
        <br>
        <p>EMPRESA / CIUDAD DE MEXICO {{getCurrentYear}}</p>
        <div>
            <p id="icons">Compartir en 
                <i class="far fa-envelope"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
        </div>

        <div class="art">
            <p>Comprometidos con ofrecer soluciones a lo largo y ancho de toda la República Mexicana, Steren continúa con la apertura de nuevas sucursales para que siempre haya una cerca de ti.</p>
            <p>En todas ellas encontrarás más de 4000 productos y la mejor experiencia de compra, con personal capacitado y asesoría personalizada para que encuentres soluciones integrales a tus necesidades.</p>
        </div>

        <div>
            <input type="text" placeholder="Seleccionar tu estado">
            <button>Buscar</button>
        </div>
        <div>
            <img src="/images/mapcoah_saltillo.gif" alt="mapa" style="width:1350px; height:784px; margin: auto 0">
        </div>





    {{> footer}}
</body>
</html>