<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{> header}}
        <h2>La evolucion en la imagen de Steren</h2>
        <br>
        <p>EMPRESA / CIUDAD DE MEXICO</p>
        <div>
            <p>Compartir en</p>
        </div>

        <section>
            <div class="art">
                <article >
                    <p style="font-size: 26px; color: #404040">Nuestra evolucion logo y slogan</p>
                    <br>
                    <p style="font-size: 18px; width: 945px">Nuestro logotipo se ha ido adecuando al paso de los años, comenzó con la propuesta de un dibujante que hizo el primer diseño de la marca para una expo, siendo del gusto de todos los que comenzaban a hacer historia con Steren.</p>
                </article>
                <br>
                <article>
                    <p style="font-size: 26px; color: #0082CB; ">Decadas</p>
                    <br>
                    <p style="font-size: 18px; width: 945px">Si prefieres la conexión directa los AUD-335 tienen un cable ultraplano para evitar que se enreden, los AUD-346 uno tipo cierre que le dan un toque vanguardista y funcional, ya que si requieres algo que te de máxima resistencia los AUD-349 lo harán con su cable tipo cordón.</p>
                </article>
                <div id="sect3">
                <div class="sect3">
                    <img src="" alt="">
                </div>
                <div class="sect3"></div>
                <div class="sect3"></div>
                </div>
                <br>
                <article>
                    <p style="font-size: 26px; color: #0082CB; ">Decadas de los 2000</p>
                    <p style="font-size: 18px; width: 945px">Nuestros anuncios cambiaron en fachada y el slogan se actualizó: “Líder en electrónica”, con el cual nos posicionamos como referente de artículos de electrónica en México.</p>
                    <div>
                        <img class="sect3" style="width: 450px; height: 450px;" src="/images/AUD-759_x1AZ.jpg" alt="">
                    </div>
                </article>
                <br>
                 <article>
                    <p style="font-size: 26px; color: #0082CB; ">Decadas de los 2010</p>
                    <p style="font-size: 18px; width: 945px">Años más tarde nuestro slogan evolucionó a: “Soluciones en Electrónica”, haciendo énfasis en lo que hacemos, solucionar la vida de las personas.</p>
                    <div>
                        <img class="sect3" style="width: 450px; height: 450px;" src="/images/AUD-759_x1AZ.jpg" alt="">
                    </div>
                </article>
                <br>
                <div>
                    <p>Tags</p>
                </div>
                
                
            
        </section>

    {{!-- {{> footer}} --}}
</body>
</html>