<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{> header}}


    <div>
    <p>Partners</p>
    <hr>
    <div class="flexmaqueta">
        <div class="flexy" style="margin-left: 50px"> 
            <img src="/images/mujer.jpg" alt="edificio" style="width: 680px; height:361px">
            <p>Steren en crecimiento constante</p>
            <p>Comprometidos con ofrecer soluciones a lo largo y ancho de toda la República Mexicana, Steren continúa con la apertura de nuevas sucursales para que siempre haya una cerca de ti.</p>
            <p>En todas ellas encontrarás más de 4000 productos y la mejor experiencia de compra, con personal capacitado y asesoría personalizada para que encuentres soluciones integrales a tus necesidades.</p>
            <p>Las nuevas sucursales que te esperan con las puertas abiertas:</p>
        </div>
        <div class="flexy2">
            <div id="flexy2">
            <img src="/images/Steren Guaymas.JPG" alt="steren guaymas" style="width: 320px; height: 180px">
            <p>Steren en contante y exitoso crecimiento</p>
            <p>Mas soluciones en electronica llegan a Sonora con la apertura de dos nuevas tiendas: Steren Hermosillo Solidaridad y Steren Guaymas</p>
        </div>
        <div id="flexy2">
            <img src="/images/Steren Shop Portal San Ángel.JPG" alt="steren san angel" style="width: 320px; height: 180px">
            <p>Steren shop portal San ángel abre sus puertas</p>
            <p>Comprometidos con ofrecer soluciones a nuestros calientes a lo largo y ancho de toda la República Mexicana, Steren aperturó…</p>
        </div>
        <div id="flexy2">
            <img src="/images/Steren Guaymas.JPG" alt="steren guaymas" style="width: 320px; height: 180px">
            <p>Steren en contante y exitoso crecimiento</p>
            <p>Mas soluciones en electronica llegan a Sonora con la apertura de dos nuevas tiendas: Steren Hermosillo Solidaridad y Steren Guaymas</p>

        </div>
            <div id="flexy2">
            <img src="/images/Steren Shop Portal San Ángel.JPG" alt="steren san angel" style="width: 320px; height: 180px">
            <p>Steren shop portal San ángel abre sus puertas</p>
            <p>Comprometidos con ofrecer soluciones a nuestros calientes a lo largo y ancho de toda la República Mexicana, Steren aperturó…</p>
        </div>
        
        </div>
    </div>
</div>
</body>
</html>